:root {
    --bg-body-color: white;
    --bg-header-color: rgb(0, 192, 0);
    --tx-body-color: black;
    --tx-header-color: white;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------- HEADER ---------------- */

header {
    position: sticky;
    top: 0;   
    width: 100%;
    height: 60px;
    background-color: var(--bg-header-color);
}

.nav-bar {
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.navbar-item {
    text-decoration: none;
    line-height: 60px;
    color: var(--tx-header-color);
}


/* ---------------- BODY ---------------- */

.container {
    width: 100%;
}

#home, #proyects, #contact {
    scroll-margin-top: 150px;
}

.name, .dedication, .description, .title{
    text-align: center;
}

.about-me {
    background-color: var(--bg-header-color);
    color: var(--tx-header-color);
}

.title {
    margin: 20px 0;
}
.proyect {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 280px;
    margin: 20px 10px;
}
.proyects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.desc-proyec{
    line-height: 25px;
    text-align: justify;
}

.info-proyec, .title-proyec, .desc-proyec {
    margin: 5px 0;
}

.tec-images {
    display: flex;
    flex-direction: column wrap;
    justify-content: space-evenly;
}

.img-tec {
    display: grid;
    align-items: center;
}

.form-email {
    margin: 50px auto;
    width: 500px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
}

.message-form {
    text-align: center;
}

input[type="text"], textarea {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border: none;
    margin: 2px 0;
    border-radius: 10px;
}

.btn-submit {
    width: 100%;
    font-size: 20px;
    margin: 5px 0;
}

/* ---------------- FOOTER ---------------- */

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}

#footer-message {
    line-height: 54px;
}

.footer-item {
    margin: 5px;
}